
/*
font-family: 'Mulish', sans-serif;
font-family: 'Open Sans', sans-serif;
*/

body {
    margin: 0;
    
    font-family: 'Open Sans', sans-serif;
    
    background: linear-gradient(180deg, rgba(227, 255, 248, 0) 82.08%, rgba(227, 255, 248, 0.38) 100%);

    min-height: 100vh;
}

.page {
    width: 1000px;
    margin: 0 auto;
    padding: 64px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 58px;
}

ul {
    display: flex;
    list-style: none;
    gap: 48px;
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 23px;
    font-family: 'Mulish', sans-serif;
    
}

ul li a {
    opacity: 0.5;
}

ul li a:hover {
    font-weight: bold;
    opacity: 1;
}

main {
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: #1f1534;
}

h1 {
    font-weight: normal;
    line-height: 56px;
    font-size: 49px;
    width: 489px;
    font-family: 'Mulish', sans-serif;
}

h1 span {
    font-weight: bold;
    color: #89C5CC;
}

section p {
    font-size: 14px;
    line-height: 28px;
    
    color: #7D7987;

    width: 438px;

    margin: 40px 0;
}

button {
    text-transform: uppercase;

    color: #FFFF;
    background: #69B99D;
    border: none;
    padding: 14px 32px 15px;
    border-radius: 4px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    cursor: pointer;
}

button:hover {
    background: #4c9d81;
}

footer {
    font-size: 14px;
    line-height: 23px;
    text-align: center;
    margin-top: 80px;
}

footer a {
    font-weight: bold;
}

#balls {
    position: fixed;
    bottom: 0;
    right: 0;
}