
body {
    margin: 0;
    
    background-color: #2C2B3D;
    
    color: #ffff;
    
    text-align: center;
}

.page {
    width: 1200px;
    margin: 0 auto;
    padding: 64px;
    padding-bottom: 0;
}

a {
    text-decoration: none;
    color: #ffff;
}

span {
    color: #00BFA6;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}


ul {
    display: flex;
    list-style: none;
    gap: 64px;
    
    font-family: 'JetBrains Mono', monospace;
    font-size: 14px;
    line-height: 28px;
    
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    justify-content: space-between;
    gap: 77px;

    margin-bottom: 112px;
}

section h1 {
    font-family: 'JetBrains Mono', monospace;
    font-size: 36px;
    line-height: 40px;

    margin: 0;
    padding-bottom: 59px;
}

section p {
    color: #C2C2C2;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    
    line-height: 28px;
    width: 604px;
    margin: 0;
}


.line {
    margin: auto;
    width: 568px;
    border: 0.4px solid #ffff;

}

footer {
    font-size: 14px;
    line-height: 28px;
    font-family: 'JetBrains Mono', monospace;

    margin-top: 27px;
    padding-bottom: 23px;
}

#padlock {
    position: fixed;
    bottom: 20px;
    left: 20px;
}
